<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="APPLICATION_PATTERN"
		value="%date{dd/MM/yyyy HH:mm:ss.SSS} %-5level [%thread] %logger{1.}: %message%n" />
	<property name="SERVER_PATTERN"
		value="%date{dd/MM/yyyy HH:mm:ss.SSS} %-5level [%thread] %logger{1.}: %message%n" />

	<appender name="APPLICATION_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${APPLICATION_PATTERN}</Pattern>
		</layout>
	</appender>

	<appender name="SERVER_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${SERVER_PATTERN}</Pattern>
		</layout>
	</appender>

	<logger name="br.com.dextra.desafio" level="INFO" additivity="false">
		<appender-ref ref="APPLICATION_CONSOLE_APPENDER" />
	</logger>

	<root level="INFO">
		<appender-ref ref="SERVER_CONSOLE_APPENDER" />
	</root>

</configuration>